<li>
    <p class="mui-input-row mui-checkbox mui-left"><span><input name="checkbox" value="<%=id%>" type="checkbox"><%=name%></span>
        <span>
            <i class="mui-switch">
                <i class="mui-switch-handle"></i>
            </i>
        </span>
        <span class="red"><i class="fa fa-warning"></i></span>
        <span><i class="fa fa-angle-right"></i></span></p>
</li>
